<!-- Seccion Acerca de.. -->
<div class="container">
    <div class="row" id="seccion_acercaDe">
        <div class="col-4 text-center">
          <!--Foto de perfil-->
          <!--text-center para centrar elementos en linea-->
          <img src="./assets/foto_perfil.jpg" id="foto_perfil"
          class="rounded-circle "
          >
          <h6 id="Nombre">Sebastian Ignacio Martinez</h6>
          <h6>"Full Stack Developer Jr."</h6> 
        </div>
       <div class="col-8">
          <div class="btn_edit">
            <h6  id="titulo_acercaDe">Acerca de</h6>
            <div  onclick="cambiar_parrafo()">
              <a href="#" class="btn_right">
                <i class="fa fa-pen"></i>
              </a>
            </div>
          </div>
          <p id="text_acercade">Desarrollador Full Stack Junior, con aspiración a trabajar en equipos donde pueda crecer profecionalmente</p>
          <div>
            <input id="edit_acercaDe" type="text" oninput="myFunction2(this.value)" style="display:none">
          </div>
          <input type="file" id="file1" onchange="showFile1(this)">
        </div>
    </div>
</div>

