

  <!-- Seccion header -->

  <header>
    <div class="container">
        <div class="row">
            <div class="col-10 d-flex align-items-center"> 
                <!--Logo de argentina programa-->
                <img src="./assets/logo_argentinaPrograma.jpg"
                id="logo_argentinaPrograma"
                >
                <p id="nombre_programa">"Argentina Programa" #YoProgramo</p>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center">
                <!--logo de linkedin-->    
                <a href="https://ar.linkedin.com/">
                    <img src="./assets/logo_linkedin.jpg"
                    class ="img-fluid logos_redes"
                    >
                </a>
                <!--logo de facebook--> 
                <a href="https://www.facebook.com/">
                    <img src="./assets/logo_facebook.jpg"
                    class="img-fluid logos_redes"
                    >
                </a>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center">   
                <!--Boton de login-->
                <a href="formulario.html"><input type="button" value="Login"></a>
            </div>
        </div>
    </div>   
        <div class="margin_key">
            <!--Imagen principal-->
            <!--Para levantar propiedades, en este caso una url, del archivo json, ponemos la propiedad entre []-->
            <img [src]="miPortfolio.informacion.imagen"
            id="imagen_principal"
            class ="img-fluid"
            >
            <!--  img-fluid para ajustar la pantalla automaticamente al 100% del ancho-->
        </div>


</header>
