<app-encabezado></app-encabezado>

<app-acerca-de></app-acerca-de>

<app-experiencia-educacion></app-experiencia-educacion>

  <!-- Seccion Skills -->

<div class="container" id="seccion_skills">
    <h2 class="margin_key2">Hard & soft skills</h2>
    <small class="margin_key2">Años de experiencia</small>
    <div class="row">
        
        <div class="col-lg-4">
            <div class="skills__header">
                <span class="skills__start-level">0</span>
                <span class="skills__start-level">2</span>
            </div>  
            <div class="skills__item">
                <p class="skills__tech">HTML</p>
                <div class="skills__bar skills__bar--60"></div>
            </div>
            <div class="skills__item">
                <p class="skills__tech">CSS</p>
                <div class="skills__bar skills__bar--90"></div>
            </div>
            <div class="skills__item">
                <p class="skills__tech">javaScript</p>
                <div class="skills__bar skills__bar--60"></div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="skills__header">
                <span class="skills__start-level">0</span>
                <span class="skills__start-level">2</span>
            </div>  
            <div class="skills__item">
                <p class="skills__tech">JSON</p>
                <div class="skills__bar skills__bar--60"></div>
            </div>
            <div class="skills__item">
                <p class="skills__tech">TYPESCRIPT</p>
                <div class="skills__bar skills__bar--90"></div>
            </div>
            <div class="skills__item">
                <p class="skills__tech">BOOTSTRAP</p>
                <div class="skills__bar skills__bar--60"></div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="skills__header">
                <span class="skills__start-level">0</span>
                <span class="skills__start-level">2</span>
            </div>  
            <div class="skills__item">
                <p class="skills__tech">JSON</p>
                <div class="skills__bar skills__bar--60"></div>
            </div>
            <div class="skills__item">
                <p class="skills__tech">TYPESCRIPT</p>
                <div class="skills__bar skills__bar--90"></div>
            </div>
            <div class="skills__item">
                <p class="skills__tech">BOOTSTRAP</p>
                <div class="skills__bar skills__bar--60"></div>
            </div>
        </div>
    </div>
</div>

<!--Seccion Proyectos-->

<div class="seccion_proyectos">
    <h3 class="margin_key">Proyectos</h3>
    <p class="margin_key">Portafolio</p>
</div>

<!-- JavaScript Bundle with Popper -->




