<!-- Seccion Experiencia-->

  
<div class="seccion_varios">
    <h3 class="margin_key">Experiencia</h3>
    <ul class="margin_key">
        <li *ngFor="let experiencia of experienciaList"  id="Apellido" >
            <h6>{{experiencia.lugar}}</h6>
            <p><time>{{experiencia.inicio}}</time> - <time>{{experiencia.finalizo}}</time></p>
        </li>
    </ul>
</div>

<!-- Seccion Educacion-->

<div class="seccion_varios">
    <h3 class="margin_key">Educacion</h3>
    <ul class="margin_key">
        <li id="titulos">"Full Stack Developer Jr."</li>
        <li>"Tecnicatura universitaria en desarrollo de software"</li>
    </ul>
</div>

